version: 2.1

jobs:
  init:
    docker:
      - image: circleci/python:3.6.4
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            make install
            sudo wget -O /bin/hadolint https://github.com/hadolint/hadolint/releases/download/v1.17.5/hadolint-Linux-x86_64 && \
            sudo chmod +x /bin/hadolint
      - run:
          name: run lint
          command: |
            . venv/bin/activate
            make lint
      - run:
          name: Push Docker Image to Docker Hub
          command: |
            export DOCKER_IMAGE_NAME=capstone-project
            docker build -t  $DOCKERHUB_USERNAME/$DOCKER_IMAGE_NAME .
            docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_PASSWORD 
            docker push  $DOCKERHUB_USERNAME/$DOCKER_IMAGE_NAME

  deploy:
      docker:
        - image: circleci/python:3.7
      steps:
        - checkout
        - run:
            name: Install awscli and gettext-base
            command: |
              sudo pip3 install awscli
              sudo apt-get install gettext-base
        - run:
            name: Install aws-iam-authenticator
            command: |
              curl -o aws-iam-authenticator https://amazon-eks.s3.us-west-2.amazonaws.com/1.15.10/2020-02-22/bin/linux/amd64/aws-iam-authenticator
              sudo chmod +x ./aws-iam-authenticator
              sudo mv ./aws-iam-authenticator /usr/local/bin
        - run:
            name: Install kubectl
            command: |
              curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
              sudo install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl
              chmod +x kubectl
              mkdir -p ~/.local/bin
              sudo mv ./kubectl ~/.local/bin/kubectl
        - run:
            name: Install eksctl
            command: |
              curl --silent --location "https://github.com/weaveworks/eksctl/releases/latest/download/eksctl_$(uname -s)_amd64.tar.gz" | tar xz -C /tmp
              sudo mv /tmp/eksctl /usr/local/bin
        - run:
            name: Connect to cluster
            command: |
              aws eks --region $AWS_DEFAULT_REGION update-kubeconfig --name $CLUSTER_NAME
        - run:
            name: Prepare K8S template
            command: |
              ls 
              rm -rf .k8s/.generated && mkdir -p kube/.k8s/.generated
              for f in  kube/.k8s/template/deployment.yml
                do
                envsubst < $f > "kube/.k8s/.generated/$(basename $f)"
              done
        - run:
            name: Deploy
            command: |
              kubectl apply -f kube/.k8s/.generated/
              kubectl get pod
workflows:
  default:
    jobs:
      - init
      - deploy:
          requires: [init]